
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
<div id="calender"></div>
<script>
calendarEl=document.getElementById('calender')
var calendar = new FullCalendar.Calendar(calendarEl, {
  initialView: 'dayGridMonth'
});
calendar.render();

function httpGet(theurl){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET",theurl,false);
    xmlHttp.send(null);
    return  xmlHttp.responseText;
}
events = JSON.parse(httpGet('/staff/api/bookings'))
for (i in events){

  calendar.addEvent(events[i])
}
console.log(events)
</script>
