{% extends 'base.html'%}
{% block content%}
{% load static %}
<form method="post" action="{% url 'booking' %}">
  {%csrf_token%}

  <table>
    <tr>
      <td>{{form.room.label}}</td>
      <td>{{form.room}}</td>
    </tr>
    <tr>
      <td>{{form.check_in_date.label}}</td>
      <td>{{form.check_in_date}}</td>
    </tr>
    <tr>
      <td>{{form.check_out_date.label}}</td>
      <td>{{form.check_out_date}}</td>
    </tr>
    <tr>
      <td>{{form.number_of_people.label}}</td>
      <td>{{form.number_of_people}}</td>
    </tr>
  </table>
  <input type="submit" value="Book" class="btn btn-primary"> 
</form>
{% endblock %}