{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Torquay</title>
    <link rel="stylesheet" href="{% static 'info.css'%}">
</head>
<body>
 
  <header>
    <h2><a href="#">Torquay</a></h2>
    <nav>
        <li><a>Our Story</a></li>
        <li><a>Events</a></li>
        <li><a>Booking</a></li>
        <li><a>News</a></li>
        <li><a>Reviews</a></li>
    </nav>
  </header>

  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Torquay</h1>
      <h3>Everything your way</h3>
    </div>
  </section>

  <section class="destinations">
    <h3 class="title">Torquay</h3>
    <p>Take a peak into a world of comfort, </p>
    <hr>
    <h3 class="title">Accomodations</h3>
    <p></p>
    <ul class="grid">
      <li class="small image-1"></li>
      <li class="large image-2"></li>
      <li class="large image-3"></li>
      <li class="small image-4"></li>
    </ul>
  </section>
</body>
</html>