{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Torquay</title>
    <link rel="stylesheet" href="{% static 'info.css'%}">
</head>
<body>
    <header>
        <div class="logo"><h2>Torquay</h2></div>
        <nav>
            <div class="burgur" id="burger">
                <div class="bar" id="bar">&#9776</div>    
            </div>
            <ul class="menu" id="menu">
                <li>Our Story</li>
                <li>Events</li>
                <li><a href="">Booking</a></li>
                <li>News</li>
                <li>Reviews</li>
            </ul>
        </nav>
        
        
    </header>
    <main>
        <div class="head">
            
            <div class="container hero">
                <div class="picture" style="background-image: url('https://images.unsplash.com/photo-1561501900-3701fa6a0864?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bHV4dXJ5JTIwaG90ZWx8ZW58MHx8MHx8&w=1000&q=80'); background-repeat: no-repeat; background-size: cover; background-position: center ; height: 400px; background-color: rgba(0, 0, 0, 0.6);">
                <div class="overlay">
                    <h1 class="brand" >Torquay <br>everything your way</h1>
                   
                    <h1></h1>
                </div>
            </div>
        </div>
        <div class="list">
           <div class="dishesh">
               <div class="dish">
                   <div class="dish_name">Lorem ipsum dolor sit.</div>
                   <div class="discription">Lorem ipsum dolor sit amet.</div>
               </div>
               <div class="dish_price">$25</div>
           </div>
           <div class="dishesh">
                <div class="dish">
                    <div class="dish_name">Lorem ipsum dolor sit.</div>
                    <div class="discription">Lorem ipsum dolor sit amet.</div>
                </div>
                <div class="dish_price">$25</div>
            </div>
            <div class="dishesh">
                    <div class="dish">
                        <div class="dish_name">Lorem ipsum dolor sit.</div>
                        <div class="discription">Lorem ipsum dolor sit amet.</div>
                    </div>
                    <div class="dish_price">$25</div>
                </div>
                <div class="dishesh">
                        <div class="dish">
                            <div class="dish_name">Lorem ipsum dolor sit.</div>
                            <div class="discription">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="dish_price">$25</div>
                    </div>
                    <div class="dishesh">
                            <div class="dish">
                                <div class="dish_name">Lorem ipsum dolor sit.</div>
                                <div class="discription">Lorem ipsum dolor sit amet.</div>
                            </div>
                            <div class="dish_price">$25</div>
                        </div>
                        <div class="dishesh">
                                <div class="dish">
                                    <div class="dish_name">Lorem ipsum dolor sit.</div>
                                    <div class="discription">Lorem ipsum dolor sit amet.</div>
                                </div>
                                <div class="dish_price">$25</div>
                            </div>
                            
    </div>
    </main>
    <section>
        <div class="showDish">
            <div class="dishPic"></div>
            <div class="detail">
                <div class="DishName">Lorem, ipsum dolor.</div>
                <div class="DishPrice">$50</div>
            </div>
        </div>
        <div class="showDish">
                <div class="dishPic"></div>
                <div class="detail">
                    <div class="DishName">Lorem, ipsum dolor.</div>
                    <div class="DishPrice">$50</div>
                </div>
            </div>
            <div class="showDish">
                    <div class="dishPic"></div>
                    <div class="detail">
                        <div class="DishName">Lorem, ipsum dolor.</div>
                        <div class="DishPrice">$50</div>
                    </div>
                </div>
                <div class="showDish">
                        <div class="dishPic"></div>
                        <div class="detail">
                            <div class="DishName">Lorem, ipsum dolor.</div>
                            <div class="DishPrice">$50</div>
                        </div>
                    </div>

                </div>
    </section>
    <footer>
        <div class="box">
            <h3>Port Louis</h3>
            <p>Mauritius</p>
        </div>
        <div class="box">
            <h3>Costa Rica</h3>
            <p>Brazil</p>
        </div>
        <div class="box">
            <h3>Santorini</h3>
            <p>Greece</p>
        </div>
        <div class="box">
            <h3>Blog</h3>
            <p>Careers</p>
            <p>Privacy Policy</p>
            <p>Contact</p>
        </div>
        <div class="box">
            <h2>Torquay</h2>
            <p>@All Right reserved 2022</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>